name: tests

on: [push]

jobs:

  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.5, 3.6, 3.7]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install FFmpeg
      run: sudo apt-get install -y ffmpeg
    - name: Upgrade pip
      run: python -m pip install --upgrade pip
    - name: Install dependencies
      run: pip install -r requirements.txt
    - name: Install test dependencies
      run: pip install -U -r requirements-test.txt
    - name: Test with pytest
      run: pytest --cov
    - name: Upload coverage data to Codecov
      continue-on-error: true
      run: |
        pip install codecov
        codecov
